* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: gray;
}
.contanier {
  position: relative;
}
.game-area {
  position: relative;
}
.coin {
  border: 5px solid white;
  border-radius: 15px;
  background-color: black;
  width: 12%;
  display: flex;
  align-items: center;
  font-family: "Tw Cen MT Condensed Extra Bold";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  color: #ffffff;
  position: relative;
  top: 5px;
  left: 5px;
  float: left;
  padding-right: 10px;
}
.coin img {
  width: 65px;
  height: 65px;
  position: absolute;
  left: -10px;
}
.coin span {
  display: inline-block;
  margin-left: auto;
}
.chest {
  border: 5px solid white;
  border-radius: 15px;
  background-color: black;
  width: 12%;
  display: flex;
  align-items: center;
  font-family: "Tw Cen MT Condensed Extra Bold";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  color: #ffffff;
  position: relative;
  top: 5px;
  float: left;
  margin-left: 25px;
  padding-right: 10px;
}
.chest img {
  width: 65px;
  height: 65px;
  position: absolute;
  left: -20px;
}
.chest span {
  display: inline-block;
  margin-left: auto;
}
.message,
.dropdown,
.settings {
  float: right;
  background-color: black;
  border: 5px solid white;
  margin-top: 5px;
  margin-right: 10px;
  padding: 5px;
  height: 50px;
}
.message,
.dropdown {
  border-radius: 20px;
}
.settings {
  border-radius: 50%;
}
.dropdown {
  padding: 10px;
}
.message img {
  width: 30px;
}
.dropdown img {
  width: 30px;
}
.settings img {
  width: 30px;
}
.user-top {
  position: absolute;
  left: 40%;
  display: flex;
  align-items: center;
  gap: 10px;
  background: #001a23;
  border-radius: 20px;
  border: 5px solid white;
}
.coffee {
  position: absolute;
  width: 100px;
  right: -50px;
  bottom: -40px;
}
.user-top img {
  width: 100px;
  margin: 5px;
}
.user {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.money {
  display: flex;
  align-items: center;
}
.user img {
  width: 30px;
}
.name {
  font-family: "Tw Cen MT Condensed Extra Bold";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 38px;
  color: #ffffff;
}
.user span {
  font-family: "Tw Cen MT Condensed Extra Bold";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: #446629;
}

/* left user */
.user-left {
  position: absolute;
  top: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #001a23;
  border-radius: 20px;
  border: 5px solid white;
}
.user-left img {
  width: 120px;
  margin: 5px;
}
.user-left .user {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.money {
  display: flex;
  align-items: center;
  margin: auto;
}
.user img {
  width: 30px;
}
.name {
  font-family: "Tw Cen MT Condensed Extra Bold";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 38px;
  color: #ffffff;
}
.user span {
  font-family: "Tw Cen MT Condensed Extra Bold";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: #446629;
}

/* right user*/

.user-right {
  position: absolute;
  top: 30%;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #001a23;
  border-radius: 20px;
  border: 5px solid white;
}
.user-right img {
  width: 120px;
  margin: 5px;
}
.user-right .user {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.money {
  display: flex;
  align-items: center;
  margin: auto;
}
.user img {
  width: 30px;
}
.name {
  font-family: "Tw Cen MT Condensed Extra Bold";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 38px;
  color: #ffffff;
}
.user span {
  font-family: "Tw Cen MT Condensed Extra Bold";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  color: #446629;
}
.area {
  display: flex;
  position: absolute;
  top: 20%;
  left: 20%;
}
.area img {
  width: 55%;
}
.game-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right-side {
  width: 34% !important;
  height: 100%;
  position: relative;
}
.star {
  width: 15px;
  margin: 10px auto;
}
.game-type1 {
  background: #10303b;
  border-radius: 15px;
  font-family: "Tw Cen MT Condensed Extra Bold";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  color: #ffffff;
  margin: 5px;
  text-align: center;
}
.game-type2 {
  background: #0f694a;
  border-radius: 15px;
  font-family: "Tw Cen MT Condensed Extra Bold";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  line-height: 38px;
  color: #ffffff;
  margin: 5px;
}
.game-type3 {
  background: #7c1a33;
  border-radius: 15px;
  font-family: "Tw Cen MT Condensed Extra Bold";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  color: #ffffff;
  margin: 5px;
}
.tas {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  color: #219ebc;
  background: #f3f4f9;
  border: 3px solid #000000;
  border-radius: 15px;
  width: 50%;
  margin: 0 auto;
}
.tas .star {
  width: 20px !important;
}
.round {
  background: #10303b;
  border-radius: 15px;
  font-family: "Viga";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  color: #ffffff;
  text-align: center;
}
.isteka-area {
  position: absolute;
  bottom: 10px;
  left: 15%;
  width: 850px;
}

.left {
  position: absolute;
  bottom: 0px;
  left: 35px;
}
.cift-icon {
  position: absolute;
  top: 5px;
  left: 3px;
}
.left img {
  width: 55%;
}
.right {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.seri-icon {
  position: absolute;
  top: 20px;
}
.right img {
  width: 55%;
}
.sortable-list {
  width: 110%;
  border-radius: 7px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  background-image: url("../image/game-board.png");
  background-size: cover;
  position: relative;
  padding-left: 35px;
  padding-right: 35px;
}
.sortable-list .item {
  list-style: none;
  display: flex;

  align-items: center;
  justify-content: center;
  width: 60px;
  height: 75px;
}
.tas:hover {
  cursor: pointer;
}
.item .details {
  display: flex;
  align-items: center;
}

.item.dragging {
  opacity: 0.6;
}
.item.dragging :where(.details, i) {
  opacity: 0;
}
.details .tas {
  width: 50px;
  height: 70px;
  background: #f3f4f9;
  border: 3px solid #000000;
  border-radius: 12px;
  position: relative;
}

.details .tas span {
  font-size: 32px;
}
.game-panel {
  position: absolute;
  bottom: 200px;
  left: 15%;
}
.container-user {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  width: 100%;
  height: 60%;
  margin: 0 auto;
}
.col {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
  color: #fff;
  border-radius: 20px;
}

.col-inner {
  display: flex;
  flex-direction: wrap;
  border: 2px solid white;
}
.col-inner-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120;
  height: 20px;
  background-color: #b4742c;
  color: #fff;
  border-radius: 10px;
}
.col3 button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 70px;
  background-color: #90c030;
  color: #fff;
  border-radius: 20px;
}
.col2 button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 70px;
  background-color: #b4742c;
  color: #fff;
  border-radius: 20px;
}
.col4 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 70px;
  background-color: #d18931;
  border-radius: 20px;
  gap: 10px;
}
.col4 img {
  width: 50px;
}
.User-name {
  color: #fff;
}
.col4-inner {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.col4-inner2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.col4-exp {
  color: #fff;
}

.col5 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 70px;
  background-color: #18819a;
  color: #fff;
  border-radius: 20px;
}

.box1-info {
  width: 60px;
  height: 60px;
  background-color: black;
  color: #fff;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px 0 0 5px;
}

.box2-info {
  width: 60px;
  height: 60px;
  background-color: black;
  color: #fff;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box3-info {
  width: 60px;
  height: 60px;
  color: #fff;
  background-color: black;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 5px 5px 0;
}
.opennig-tas {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 45px;
  color: #219ebc;
  background: #f3f4f9;
  border: 3px solid #000000;
  border-radius: 15px;
  width: 50px;
  height: 70px;
  margin: auto;
  position: absolute;
  top: 5px;
  left: 5px;
}
.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: #219ebc;
  background: #f3f4f9;
  border: 2px solid #000000;
  border-radius: 3px;
  width: 20px;
  height: 23px;
  position: absolute;
  top: 5px;
  left: 5px;
}
.active .star {
  position: absolute;
  bottom: -7px;
}
.active-2 {
  display: flex;
  flex-direction: column;

  align-items: center;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  color: #219ebc;
  background: #f3f4f9;
  border: 2px solid #000000;
  border-radius: 3px;
  width: 20px;
  height: 26px;
  position: absolute;
  top: 5px;
  left: 5px;
}
.active-2 .star {
  position: absolute;
  bottom: -7px;
}
.star {
  width: 4px !important;
}
.box-line {
  height: 100%;
  width: 5px;
  color: white;
}
.giden {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 20px;
  padding-top: 20px;
  color: #219ebc;
  background: #f3f4f9;
  border: 3px solid #000000;
  border-radius: 15px;
  width: 70px;
  height: 100px;
  margin: auto;
  position: absolute;
  bottom: 150px;
  right: 30px;
}
.giden img {
  width: 25px !important;
}
.gelen {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 20px;
  padding-top: 20px;
  color: #219ebc;
  background: #f3f4f9;
  border: 3px solid #000000;
  border-radius: 15px;
  width: 70px;
  height: 100px;
  margin: auto;
  position: absolute;
  bottom: 150px;
  left: 30px;
}
.gelen img {
  width: 25px !important;
}
.gelen {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 20px;
  padding-top: 20px;
  color: #219ebc;
  background: #f3f4f9;
  border: 3px solid #000000;
  border-radius: 15px;
  width: 70px;
  height: 100px;
  margin: auto;
  position: absolute;
  bottom: 150px;
  left: 30px;
}
.gelen img {
  width: 25px !important;
}
.right-giden {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 20px;
  padding-top: 20px;
  color: #219ebc;
  background: #f3f4f9;
  border: 3px solid #000000;
  border-radius: 15px;
  width: 70px;
  height: 100px;
  margin: auto;
  position: absolute;
  top: 80px;
  right: 30px;
}
.right-giden img {
  width: 25px !important;
}
.left-giden {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 20px;
  padding-top: 20px;
  color: #219ebc;
  background: #f3f4f9;
  border: 3px solid #000000;
  border-radius: 15px;
  width: 70px;
  height: 100px;
  margin: auto;
  position: absolute;
  top: 80px;
  left: 30px;
}
.left-giden img {
  width: 25px !important;
}
@media screen and (min-width: 1700px) {
  .container-user {
    gap: 25px;
    margin-left: 70px;
  }
  .sortable-list .item {
    width: 70px;
    height: 100px;
  }
  .details .tas {
    width: 60px;
    height: 90px;
  }
  .active {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Verdana";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;

    color: #219ebc;
    background: #f3f4f9;
    border: 3px solid #000000;
    border-radius: 3px;
    width: 32px;
    height: 40px;
    margin: auto;
    position: absolute;
    top: 5px;
    left: 5px;
  }
  .active .star {
    position: absolute;
    bottom: -5px;
  }
  .isteka-area {
    width: 1150px;
  }
  .sortable-list {
    height: 190px;
  }
  .active-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Verdana";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #219ebc;
    background: #f3f4f9;
    border: 2px solid #000000;
    border-radius: 5px;
    width: 27px;
    height: 40px;
    position: absolute;
    top: 5px;
    left: 5px;
  }
  .active-2 .star {
    position: absolute;
    bottom: -5px;
  }

  .star {
    width: 5px !important;
  }
  .col5 {
    margin-left: 50px;
  }
  .area {
    width: 80%;
    height: 50%;
  }
  .sortable-list {
    margin-left: 10px;
  }
  .col2 {
    font-size: 20px;
  }
  .col3 {
    font-size: 20px;
  }
  .col4 {
    font-size: 20px;
  }
  .col-inner {
    border-radius: 8px;
  }
  .left {
    position: absolute;
    left: 30px;
    bottom: 20px;
    width: 7%;
  }
  .right {
    position: absolute;
    right: 30px;
    bottom: 20px;
    width: 7%;
  }
  .left-giden {
    margin-top: 60px;
  }
  .gelen {
    margin-bottom: 120px;
  }
  .right-giden {
    margin-top: 60px;
  }
  .giden {
    margin-bottom: 90px;
  }
}
@media screen and (max-width: 1366px) {
  .user-top img {
    width: 50px;
  }
  .active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: "Verdana";
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    color: #219ebc;
    background: #f3f4f9;
    border: 2px solid #000000;
    border-radius: 3px;
    width: 20px;
    height: 23px;
    position: absolute;
    top: 5px;
    left: 5px;
  }
  .active-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Verdana";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: #219ebc;
    background: #f3f4f9;
    border: 2px solid #000000;
    border-radius: 3px;
    width: 20px;
    height: 26px;
    position: absolute;
    top: 5px;
    left: 5px;
  }
  .area {
    top: 15%;
    left: 20%;
    gap: 20px;
  }
  .area img {
    width: 45%;
  }
  .user-left img {
    width: 50px;
  }
  .user-right img {
    width: 50px;
  }
  .name {
    font-size: 24px;
    text-align: center;
  }
  .money img {
    width: 20px;
  }
  .coffee {
    bottom: -30px;
    right: -35px;
  }
  .game-type1,
  .game-type2.game-type3 {
    font-size: 20px;
    line-height: 25px;
  }
  .game-information {
    gap: 0px;
  }
  .tas {
    font-size: 24px;
    width: 45%;
    line-height: 35px;
  }

  .round {
    font-size: 24px;
  }
  .isteka-area {
    width: 850px;
  }

  .game-panel {
    bottom: 180px;
    left: 18%;
  }
  .container-user {
    gap: 30px;
    height: 30px;
  }
  .col {
    width: 15%;
    font-size: 14px;
  }
  .col2 button {
    width: 130%;
    height: 30px;
    font-size: 14px;
  }
  .col3 button {
    width: 130%;
    height: 30px;
    font-size: 14px;
  }
  .col4 {
    width: 40%;
    height: 50px;
  }
  .col5 {
    width: 15%;
    height: 40px;
    font-size: 18px;
  }
  .box1-info,
  .box2-info,
  .box3-info {
    font-size: 16px;
    height: 30px;
  }
}
@media screen and (max-width: 800px) {
  .left .cift-icon {
    width: 40px;
  }
  .left img {
    width: 40px;
  }
  .left {
    margin-left: -10px;
  }
  .right .cift-icon {
    width: 40px;
  }
  .right img {
    width: 40px;
  }
  .right {
    margin-right: 30px;
  }
  .sortable-list {
    width: 570px;
    height: 100px;
  }
  .sortable-list .item {
    width: 35px;
    height: 50px;
  }
  .item .tas {
    width: 35px;
    height: 50px;
    font-size: 12px;
    border-radius: 8px;
  }
  .item .tas span {
    font-size: 18px;
  }
  .game-information {
    justify-content: flex-start;
    gap: 5px;
  }
  .game-type1 {
    font-size: 14px;
    margin: 0;
    line-height: 20px;
  }
  .game-type2 {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
  }
  .game-type3 {
    font-size: 14px;
    line-height: 20px;
    margin: 0;
  }
  .item .tas .star {
    width: 10px !important;
    bottom: -5px;
    position: absolute;
  }
  .game-information .tas {
    width: 45%;
    height: 40px;
    position: relative;
    border-radius: 5px;
    font-size: 18px;
  }

  .game-information .tas .star {
    position: absolute;
    width: 10px !important;
    bottom: -5px;
  }
  .round {
    margin: 0 auto;
  }

  .isteka-area {
    width: 450px;
  }
  .settings img {
    width: 25px;
  }

  .settings {
    height: 43px;
  }
  .dropdown img {
    width: 25px;
  }
  .dropdown {
    height: 40px;
  }
  .message {
    height: 40px;
  }
  .message img {
    width: 25px;
  }

  .user-left img {
    width: 35px;
  }
  .user .name {
    font-size: 15px;
  }
  .user-left {
    width: 80px;
    height: 120px;
    margin-left: 8px;
  }
  .user .money img {
    width: 30px;
    padding-left: 5px;
  }
  .round {
    font-size: 15px;
    line-height: 20px;

    text-align: center;
    justify-content: center;
    align-items: center;
    left: 5px;
  }
  .user-right img {
    width: 35px;
  }
  .user .name {
    font-size: 15px;

    left: 5px;
    top: -7px;
  }
  .user .money {
    top: -10px;
  }
  .user-right {
    width: 80px;
    height: 120px;
  }
  .user .money span {
    font-size: 13px;
  }
  .user .money img {
    width: 20px;
    padding-left: 5px;
  }
  .coin img {
    width: 40px;
    height: 50px;
  }
  .coin {
    width: 90px;
    height: 40px;
  }
  .chest {
    width: 90px;
    height: 40px;
  }
  .chest img {
    width: 40px;
    height: 50px;
  }
  .chest span {
    font-size: 15px;

    left: 8px;
  }
  .coin span {
    font-size: 15px;

    left: 8px;
  }
  .user-top img {
    width: 40px;
  }
  .user-top {
    height: 55px;
  }

  .user-top .money {
    right: 10px;
  }
  .user-top .yirmi {
    left: 5px;
  }
  .user-top .user .name {
    top: 1px;
    margin-right: 25px;
  }
  .user-top .coffee {
    position: absolute;
    right: -15px;
    bottom: -20px;
  }
  .user-top img {
    width: 35px;
  }
  .game-panel {
    display: none;
  }
  .area {
    gap: 10px;
    left: 25%;
    margin-top: 5px;
    height: 180px;
    justify-content: space-between;
  }
  .right-side {
    width: 100% !important;
  }
  .area img {
    width: 100%;
  }

  .left-giden {
    width: 30px;
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
    padding-top: 0;
    top: 60px;
  }
  .left-giden .star {
    width: 15px !important;
  }

  .right-giden {
    width: 30px;
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
    padding-top: 0;
    top: 60px;
  }
  .right-giden .star {
    width: 15px !important;
  }
  .gelen {
    width: 30px;
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
    padding-top: 0;
    bottom: 100px;
  }
  .gelen .star {
    width: 15px !important;
  }
  .giden {
    width: 30px;
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
    padding-top: 0;
    bottom: 100px;
  }
  .giden .star {
    width: 15px !important;
  }
  .box1-info,
  .box-line,
  .box2-info,
  .box3-info {
    font-size: 10px;
    height: 20px;
  }
  .col-inner-2 {
    height: 15px;
    width: 50px;
    text-align: center;
    justify-content: center;
    font-size: 12px;
    position: relative;
    left: 65px;
    top: -20px;
  }
  .col5 {
    margin-top: 150px;
    font-size: 13px;
    height: 20px;
    width: 50px;
    position: relative;
    right: 86px;
  }
  .col4 {
    margin-top: 25px;
    /* height: 45px;
  width: 170px;
   */
  }
  .User-name {
    position: relative;
    right: 20px;
  }
  .user-puan {
    position: relative;
    right: 25px;
  }
  .user-puan img {
    display: none;
  }
  .col4-inner2 {
    position: relative;
    right: 20px;
  }
}
